/* Navbar.module.css */
.menuCursor {
	cursor: pointer;
}

.rnHeader {
	color: white;
	width: 100%;
	position: fixed;
	top: 0;
	transition: all 0.3s ease;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölge efekti */
}

.rnHeaderContainer {
	max-width: 1400px;
	margin: auto;
	height: 60px; /* Yüksekliği azaltarak daha ince bir header */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rnLogoContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.rnLogo {
	width: 48px; /* Logo boyutunu küçült */
	height: 48px; /* Orantılı olacak şekilde yüksekliği de ayarla */
}

.rnMenuContainer {
	display: flex;
	align-items: center;
}

.rnMenuItems {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}

.rnMenuItem {
	text-decoration: none;
	color: #333; /* Daha koyu bir yazı rengi */
	font-weight: 500; /* Yazı tipini biraz kalınlaştır */
}

.rnBottomMenuItem,
.rnBottomMenu1Container,
.rnBottomMenu1Children,
.rnBottomMenu1Child {
	display: none; /* Alt menüler için şu anlık görünmez yap */
}

.rnMenuContent {
	display: flex;
	align-items: center;
}

/* Arama kısmı ve butonları içeren toolbar düzenlemesi */
.toolbar {
	display: flex;
	align-items: center;
	width: 150px;
	border: 1px solid #ccc;
	padding-left: 5px;
	border-radius: 20px; /* Yuvarlak köşeler */
	color: white;
}

/* Arama inputu için düzenlemeler */
.searchInput {
	font-size: 14px; /* Yazı boyutu */
	border: none;
	outline: none;
	background-color: transparent;
	padding: 8px;
	border-radius: 20px; /* Yuvarlak köşeler */
	color: white;
}

/* Butonlar için genel stil düzenlemeleri */
.button {
	border: none;
	padding: 8px;
	margin: 5px;
	border-radius: 20px; /* Yuvarlak köşeler */
	cursor: pointer;
	font-weight: 500; /* Yazı kalınlığı */
	color: white; /* Yazı rengi */
	font-size: 14px; /* Yazı boyutu */
}

/* Buton 1 özgü stil */
.button1 {
	background-image: linear-gradient(to right, rgba(132, 53, 238, 1), rgba(35, 131, 216, 1));
}

/* Buton 2 özgü stil */
.button2 {
	background-image: linear-gradient(to right, rgba(99, 243, 110, 1), rgba(173, 19, 245, 1));
}

/* Dropdown menü için ok işareti stil düzenlemesi */
.dropdownItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Dropdown menülerin stil düzenlemesi */
.dropdownMenu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	color: black;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: 40px; /* Dropdown menünün ana menüden aşağıda olmasını sağlar */
}

/* Dropdown menü öğesine fare üzeri gelindiğinde alt menüyü göster */
.dropdownItem:hover .dropdownMenu {
	display: block;
}

/* Dropdown menü içindeki bağlantıların stil düzenlemesi */
.dropdownMenu a {
	padding: 12px;
	text-decoration: none;
	display: block;
}

/* Liste stilini kaldır */
.ul {
	list-style: none;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
}

.nav a {
	margin: 0 1rem;

	text-decoration: none;
}

.header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.header div,
.nav {
	display: flex;
	align-items: center;
}

.navBtn {
	display: none; /* Varsayılan olarak gizle */
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 24px;
	color: white;
	z-index: 101;
}

@media only screen and (max-width: 1024px) {
	.navBtn {
		display: block; /* Mobil cihazlarda göster */
	}
	/* Navigasyonu mobil görünüme uygun hale getir */
	.nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: rgba(20, 6, 27, 1);
		/* Bu değişkeni mevcut renklerinizle değiştirin */
		transition: all 1s ease-in-out;
	}

	/* Navigasyon açıkken görünümü ayarla */
	.responsive_nav {
		transform: translateY(100vh);
	}

	/* Kapatma butonunun konumunu ayarla */
	.navCloseBtn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	/* Bağlantıların font boyutunu ayarla */
	.nav a {
		font-size: 1.5rem;
	}
}
/* Navbar.module.css içindeki temel stiller */

.rnHeader {
	color: white;
	width: 100%;
	position: fixed;
	top: 0;
	transition: all 0.3s ease;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rnHeaderContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	max-width: 1300px;
	margin: auto;
	height: 60px;
}

.rnLogoContainer {
	flex-grow: 1;
}
/* Önceden tanımlanmış stillerinizi koruyun ve aşağıdaki stil bloklarını ekleyin veya güncelleyin. */

.navBtn {
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 24px;
	color: white;

	display: none; /* Mobil ve masaüstü için her zaman görünür */
}

/* Masaüstünde dropdown ikon ile yazı arasındaki boşluğu azalt */
.dropdownItem a {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.dropdownMenu {
		position: absolute;
		color: black;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
		width: 100%;
	}
	.rnLogoContainer {
		margin-bottom: 10px; /* İhtiyacınıza göre bu değeri ayarlayın */
	}

	.rnMenuContainer {
		margin-top: 10px; /* İhtiyacınıza göre bu değeri ayarlayın */
	}

	/* Dropdown menüler için */
	.dropdownItem {
		gap: 3px; /* Mobilde ikon ile yazı arasındaki boşluğu azalt */
	}

	/* Arama inputunu mobilde daha da daraltabilirsiniz */
	.toolbar .searchInput {
		width: 180px; /* İhtiyacınıza göre bu değeri ayarlayın */
	}
	.nav {
		display: none; /* Başlangıçta menüyü gizler */
	}

	.navBtn {
		cursor: pointer;
		background: transparent;
		border: none;
		font-size: 24px;
		color: white;

		z-index: 101;

		display: block; /* Mobil ve masaüstü için her zaman görünür */
	}
	.rnLogoContainer {
		display: block;
		z-index: 101;
		align-items: center;
	}
	.responsive_nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(20, 6, 27, 1);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(0);
		transition: transform 0.3s ease-in-out;
		z-index: 100; /* Menünün diğer öğelerin üzerinde görünmesini sağlar */
	}

	.show {
		display: block; /* Menü açıkken içeriği göster */
	}

	.dropdownItem {
		position: relative; /* Alt menünün konumlandırılması için bir referans noktası */
	}

	.dropdownItem:hover .dropdownMenu,
	.dropdownItem:focus-within .dropdownMenu {
		max-height: 500px; /* Yeterince yüksek bir değer, içeriğin boyutuna bağlı olarak ayarlayın */
	}
	.toolbar {
		width: 200px;
	}
	.button {
		width: 200px;
	}
	.nav a {
		font-size: 1.3rem;
	}
}
