.menuCursor {
	cursor: pointer;
}

.rnHeader {
	color: white;
	width: 100%;

	top: 0;
	transition: all 0.3s ease;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rnHeaderContainer {
	max-width: 1400px;
	margin: auto;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rnLogoContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.rnLogo {
	width: 48px;
	height: 48px;
}

.rnMenuContainer {
	display: flex;
	align-items: center;
}

.rnMenuItems {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}

.rnMenuItem {
	text-decoration: none;
	color: #333;
	font-weight: 500;
}

.rnBottomMenuItem,
.rnBottomMenu1Container,
.rnBottomMenu1Children,
.rnBottomMenu1Child {
	display: none;
}

.rnMenuContent {
	display: flex;
	align-items: center;
}

.toolbar {
	display: flex;
	align-items: center;
	width: 150px;
	border: 1px solid #ccc;
	padding-left: 5px;
	border-radius: 20px;
	color: white;
}

.searchInput {
	font-size: 14px;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 7px;
	border-radius: 20px;
	color: white;
}

.button {
	border: none;
	padding: 8px;
	margin: 3px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 600;
	color: white;
	font-size: 14px;
}

.button1 {
	background-image: linear-gradient(to right, rgba(132, 53, 238, 1), rgba(35, 131, 216, 1));
}

.button2 {
	background-image: linear-gradient(to right, rgba(99, 243, 110, 1), rgba(173, 19, 245, 1));
}

.dropdownItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdownMenu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	color: black;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: 40px;
}

.dropdownItem:hover .dropdownMenu {
	display: block;
}

.dropdownMenu a {
	padding: 12px;
	text-decoration: none;
	display: block;
}

.ul {
	list-style: none;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
}

.nav a {
	margin: 0 1rem;

	text-decoration: none;
}

.header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.header div,
.nav {
	display: flex;
	align-items: center;
}

.navBtn {
	display: none;
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 24px;
	color: white;
	z-index: 101;
}

@media only screen and (max-width: 1024px) {
	.navBtn {
		display: block;
	}
	.nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: rgba(20, 6, 27, 1);

		transition: all 1s ease-in-out;
	}

	.responsive_nav {
		transform: translateY(100vh);
	}

	.navCloseBtn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.nav a {
		font-size: 1.5rem;
	}
}

.rnHeader {
	color: white;
	width: 100%;

	top: 0;
	transition: all 0.3s ease;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rnHeaderContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	max-width: 1300px;
	margin: auto;
	height: 60px;
}

.rnLogoContainer {
	flex-grow: 1;
}

.navBtn {
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 24px;
	color: white;

	display: none;
}

.dropdownItem a {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.rnHeader {
		color: white;
		width: 100%;
		position: fixed;
		top: 0;
		transition: all 0.3s ease;
		z-index: 1000;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.dropdownMenu {
		position: absolute;
		color: black;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
		width: 100%;
	}
	.rnLogoContainer {
		margin-bottom: 10px;
	}

	.rnMenuContainer {
		margin-top: 10px;
	}

	.dropdownItem {
		gap: 3px;
	}

	.toolbar .searchInput {
		width: 180px;
	}
	.nav {
		display: none;
	}

	.navBtn {
		cursor: pointer;
		background: transparent;
		border: none;
		font-size: 24px;
		color: white;

		z-index: 101;

		display: block;
	}
	.rnLogoContainer {
		display: block;
		z-index: 101;
		align-items: center;
	}
	.responsive_nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(20, 6, 27, 1);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		transform: translateX(0);
		transition: transform 0.3s ease-in-out;
		z-index: 100;
	}

	.show {
		display: block;
	}

	.dropdownItem {
		position: relative;
	}

	.dropdownItem:hover .dropdownMenu,
	.dropdownItem:focus-within .dropdownMenu {
		max-height: 500px;
	}
	.toolbar {
		width: 200px;
		margin-top: 100px;
	}
	.button {
		width: 200px;
	}
	.nav a {
		font-size: 1.3rem;
	}
}
