.home {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding: 0 20px;
}

.main {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 25px;
}
.butons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 20px;
}
.titleh2 {
	background: -webkit-linear-gradient(to right, rgba(173, 19, 245, 1), rgba(0, 194, 255, 0.79));
	background: linear-gradient(to right, rgba(173, 19, 245, 1), rgba(0, 194, 255, 0.79));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
}
.paragraf {
	color: rgba(175, 184, 188, 0.52);
}

.butons button {
	width: 120px;
	margin: 0 5px;
	border: none;
	padding: 5px 25px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 600;
	color: white;
	font-size: 15px;
	background-image: linear-gradient(to right, rgba(173, 19, 245, 1), rgba(0, 194, 255, 0.79));
}

.butons button:nth-child(1) {
	background-image: linear-gradient(to right, rgba(173, 19, 245, 1), rgba(0, 194, 255, 0.79));
}

.butons button:nth-child(2) {
	border: 2px solid white;
	background: transparent;
}

.butons button:nth-child(2):hover {
	background: none;
}

.discordbtn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: none;
	padding: 10px 40px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 600;
	color: white;
	font-size: 15px;
	background-image: linear-gradient(to right, rgba(204, 63, 165, 1), rgba(173, 19, 245, 1));
}
.roadbtn {
	border: none;
	padding: 15px 45px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 600;
	color: white;
	font-size: 15px;
	background-image: linear-gradient(to right, rgba(212, 118, 47, 1), rgba(40, 201, 230, 1));
	letter-spacing: 10px;
}

@media screen and (max-width: 768px) {
	.home {
		flex-direction: column;
		height: auto;
		margin-top: 80px;
	}
	.main {
		padding: 20px;
	}
	.main h1 {
		font-size: 30px;
	}
	.butons {
		flex-direction: row;
	}
	.butons button {
		width: 100%;
	}
	.discordbtn {
		padding: 5px 100px;
	}
	.roadbtn {
		padding: 5px 100px;
	}
	.image {
		height: auto;
		width: 100%;
	}
}
